{% load static %}
{% block Content %}

    <footer style="max-width: 100%; background: rgba(22, 24, 25, 0.125)">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-xl-5 p-0">
                <div class="card" style="width: 18rem">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="card-footer">Card footer</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-xl-4 p-0">
                <div class="card" style="width: 18rem">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="card-footer">Card footer</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-xl-4 p-0">
                <div class="card" style="width: 18rem">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="card-footer">Card footer</div>
                </div>
            </div>
            {% comment %} Column End {% endcomment %}
        </div>
    {% comment %} Row ends {% endcomment %}
    </footer>

{% endblock Content %}