
{% block content %}
    
  <!-- Scroll To Top Start-->
    <!--================================-->
    <a href="#" data-click="scroll-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
    <!--/ Scroll To Top End -->
    <!--================================-->
    <!-- Template Customizer Start-->
    <!--================================-->
    <div class="avesta-settings">
        <a id="avestaSettingsShow" href="#" class="avesta-settings-link"><i data-feather="settings"
                class="wd-20"></i></a>
        <div class="avesta-settings-body">
            <div class="pd-y-20">
                <img src="assets/images/logo-dark.png" class="d-block" alt="" />
                <span class="tx-sans tx-10 tx-uppercase tx-medium tx-spacing-1">Template Customizer</span>
            </div>
            <div class="pd-y-20 bd-t">
                <label class="tx-10 tx-uppercase tx-bold tx-spacing-1 mg-b-15">Skin Mode</label>
                <div class="row">
                    <div class="col-12 d-flex justify-content-between">
                        <span class="avesta-demo-customizer-name tx-spacing-1">Default Skin</span>
                        <a href="#" class="avesta-mode avesta-mode-default active" data-title="default-skin"></a>
                    </div>
                    <div class="col-12 d-flex justify-content-between">
                        <span class="avesta-demo-customizer-name">Light Skin</span>
                        <a href="#" class="avesta-mode avesta-mode-light" data-title="light-skin">
                            <span class="demo-color-palet-1"></span>
                            <span class="demo-color-palet-2"></span>
                        </a>
                    </div>
                    <div class="col-12 d-flex justify-content-between">
                        <span class="avesta-demo-customizer-name tx-spacing-1">Cool Skin</span>
                        <a href="#" class="avesta-mode avesta-mode-cool" data-title="cool-skin">
                            <span class="bg-primary op-1"></span>
                            <span class="bg-primary op-2"></span>
                        </a>
                    </div>
                    <!-- row -->
                </div>
            </div>
            <div class="pd-y-20 bd-t">
                <label class="tx-10 tx-uppercase tx-bold tx-spacing-1 mg-b-15">Navigation Skin</label>
                <div class="row">
                    <div class="col-12 d-flex justify-content-between">
                        <span class="avesta-demo-customizer-name">Default</span>
                        <a href="#" class="avesta-demo-customizer avesta-demo-customizer-default active"
                            data-title="default">
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                    <div class="col-12 d-flex justify-content-between">
                        <span class="avesta-demo-customizer-name">Light</span>
                        <a href="#" class="avesta-demo-customizer avesta-demo-customizer-light" data-title="light">
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                    <div class="col-12 d-flex justify-content-between">
                        <span class="avesta-demo-customizer-name">Blue Purple</span>
                        <a href="#" class="avesta-demo-customizer avesta-demo-customizer-bluepurple"
                            data-title="bluepurple">
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                    <div class="col-12 d-flex justify-content-between">
                        <span class="avesta-demo-customizer-name">Gradient</span>
                        <a href="#" class="avesta-demo-customizer avesta-demo-customizer-gradient"
                            data-title="gradient">
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                </div>
                <!-- row -->
            </div>
            <div class="pd-y-20 bd-t">
                <label class="tx-10 tx-uppercase tx-bold tx-spacing-1 mg-b-15">Font Family Mode</label>
                <div class="row font-customize">
                    <div class="col-12">
                        <a href="#" id="setFontBase" class="active-font">IBM Plex Sans</a>
                    </div>
                    <!-- col -->
                    <div class="col-12">
                        <a href="#" id="setFontRoboto">Roboto</a>
                    </div>
                    <!-- col -->
                    <div class="col-12">
                        <a href="#" id="setFontPoppins">Poppins</a>
                    </div>
                    <!-- col -->
                    <div class="col-12">
                        <a href="#" id="setFontOpenSans">Open Sans</a>
                    </div>
                    <!-- col -->
                </div>
                <!-- row -->
            </div>
        </div>
        <!-- avesta-settings-body -->
    </div>
    <!--/ Template Customizer End -->


{% endblock content %}
    